/target


# Added by cargo
#
# already existing elements were commented out

#/target

__pycache__/

# Data collected from pykeystroke
pykeystroke/keystroke_table.db
pykeystroke/keystroke_table.db-journal
pykeystroke/keystroke_table.csv